.navbar {
  color: #fff;
  font-size: 14px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  transition: all 0.3s;
  z-index: 999;

  &.scrolled {
    transition: all 0.5s;
    background-color: var(--main-color);
  }

  .container {
    display: flex;
    align-items: center;
    padding: 0px 50px;
    justify-content: space-between;
    height: 70px;

    .left {
      display: flex;
      align-items: center;

      span {
        margin-right: var(--margin-right-nav);
        cursor: pointer;
      }

      img {
        height: 25px;
        margin-right: var(--margin-right-nav);
      }
    }

    .right {
      display: flex;
      align-items: center;

      .icon {
        margin: 0px var(--margin-right-nav);
        cursor: pointer;
      }
      img {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        object-fit: cover;
        cursor: pointer;
      }

      .profile {
        .options {
          display: none;
          background-color: var(--main-color);
          border-radius: 5px;

          span {
            padding: 10px;
            cursor: pointer;
          }
        }

        &:hover {
          .options {
            display: flex;
            flex-direction: column;
            position: absolute;
          }
        }
      }
    }
  }
}
